In [3]:
import pandas as pd
df=pd.read_csv("income.csv")
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [21]:
df.loc[0:]

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
df.loc[:,["2010"]]

    2010
0  40933
1  57848
2  46896
3  38587
4  54283

In [7]:
# sum of values in particular column
s=0
for i in df['2010']:
    s=s+i
print(s)

238547

In [8]:
# product of values in perticular column
s=1
for i in df['2010']:
    s=s*i
print(s)

232596181920264525116544

In [14]:
#df.loc[1,"2005":]
df.iloc[1,2:]

2005    55891
2006    56418
2007    62993
2008    63989
2009    61604
2010    57848
2011    57431
2012    63648
2013    61137
Name: 1, dtype: object

In [15]:
# sum of values in perticular row
s=0
for i in df.iloc[1,2:]:
    s=s+i
print(s)

540959

In [16]:
# sum of values in a perticular column
df["2010"].sum()

238547

In [20]:
# sum of values in a perticular row(4th row and all columns)
df.iloc[4,2:].sum()

498154

In [26]:
# sum of 2005 to 2008 columns
a=df.iloc[:,2:6].sum()
#df.loc[:,"2005":"2008"].sum()
a.sum()

976808

In [27]:
# sum of all column income values
a=df.iloc[:,2:].sum()
a.sum()

2199422

In [28]:
# to find the total sum of individual columns
df.sum()

GEOID    04000US0104000US0204000US0404000US0504000US06
State           AlabamaAlaskaArizonaArkansasCalifornia
2005                                            226699
2006                                            233403
2007                                            264727
2008                                            251979
2009                                            239995
2010                                            238547
2011                                            243311
2012                                            250194
2013                                            250567
dtype: object

In [29]:
# to find the total sum of individual rows
df.sum(1)

0    370138
1    540959
2    440711
3    349460
4    498154
dtype: int64

In [32]:
# find the product
df.prod()

2005    2304332586102593708
2006   -3396487475510719616
2007   -6999381839592754296
2008   -6111060772352250592
2009    6209617939067354560
2010    1185894860788790400
2011    4814774946528885700
2012    1466460077803167744
2013    3670165461116089616
dtype: int64

In [39]:
# find the product of 1 &2 rows and 2005 t0 2008 columns
a=df.iloc[:2,2:6].prod().prod()
a

5679766647689867264

In [41]:
help(df.loc)

Help on _LocIndexer in module pandas.core.indexing object:

class _LocIndexer(_LocationIndexer)
 |  Access a group of rows and columns by label(s) or a boolean array.
 |
 |  ``.loc[]`` is primarily label based, but may also be used with a
 |  boolean array.
 |
 |  Allowed inputs are:
 |
 |  - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
 |    interpreted as a *label* of the index, and **never** as an
 |    integer position along the index).
 |  - A list or array of labels, e.g. ``['a', 'b', 'c']``.
 |  - A slice object with labels, e.g. ``'a':'f'``.
 |
 |    .. warning:: Note that contrary to usual python slices, **both** the
 |        start and the stop are included
 |
 |  - A boolean array of the same length as the axis being sliced,
 |    e.g. ``[True, False, True]``.
 |  - A ``callable`` function with one argument (the calling Series, DataFrame
 |    or Panel) and that returns valid output for indexing (one of the above)
 |
 |  See more at :ref:`Selection by Label <indexing.label>`
 |
 |  Raises
 |  ------
 |  KeyError:
 |      when any items are not found
 |
 |  See Also
 |  --------
 |  DataFrame.at : Access a single value for a row/column label pair.
 |  DataFrame.iloc : Access group of rows and columns by integer position(s).
 |  DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
 |      Series/DataFrame.
 |  Series.loc : Access group of values using labels.
 |
 |  Examples
 |  --------
 |  **Getting values**
 |
 |  >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 |  ...      index=['cobra', 'viper', 'sidewinder'],
 |  ...      columns=['max_speed', 'shield'])
 |  >>> df
 |              max_speed  shield
 |  cobra               1       2
 |  viper               4       5
 |  sidewinder          7       8
 |
 |  Single label. Note this returns the row as a Series.
 |
 |  >>> df.loc['viper']
 |  max_speed    4
 |  shield       5
 |  Name: viper, dtype: int64
 |
 |  List of labels. Note using ``[[]]`` returns a DataFrame.
 |
 |  >>> df.loc[['viper', 'sidewinder']]
 |              max_speed  shield
 |  viper               4       5
 |  sidewinder          7       8
 |
 |  Single label for row and column
 |
 |  >>> df.loc['cobra', 'shield']
 |  2
 |
 |  Slice with labels for row and single label for column. As mentioned
 |  above, note that both the start and stop of the slice are included.
 |
 |  >>> df.loc['cobra':'viper', 'max_speed']
 |  cobra    1
 |  viper    4
 |  Name: max_speed, dtype: int64
 |
 |  Boolean list with the same length as the row axis
 |
 |  >>> df.loc[[False, False, True]]
 |              max_speed  shield
 |  sidewinder          7       8
 |
 |  Conditional that returns a boolean Series
 |
 |  >>> df.loc[df['shield'] > 6]
 |              max_speed  shield
 |  sidewinder          7       8
 |
 |  Conditional that returns a boolean Series with column labels specified
 |
 |  >>> df.loc[df['shield'] > 6, ['max_speed']]
 |              max_speed
 |  sidewinder          7
 |
 |  Callable that returns a boolean Series
 |
 |  >>> df.loc[lambda df: df['shield'] == 8]
 |              max_speed  shield
 |  sidewinder          7       8
 |
 |  **Setting values**
 |
 |  Set value for all items matching the list of labels
 |
 |  >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
 |  >>> df
 |              max_speed  shield
 |  cobra               1       2
 |  viper               4      50
 |  sidewinder          7      50
 |
 |  Set value for an entire row
 |
 |  >>> df.loc['cobra'] = 10
 |  >>> df
 |              max_speed  shield
 |  cobra              10      10
 |  viper               4      50
 |  sidewinder          7      50
 |
 |  Set value for an entire column
 |
 |  >>> df.loc[:, 'max_speed'] = 30
 |  >>> df
 |              max_speed  shield
 |  cobra              30      10
 |  viper              30      50
 |  sidewinder         30      50
 |
 |  Set value for rows matching callable condition
 |
 |  >>> df.loc[df['shield'] > 35] = 0
 |  >>> df
 |              max_speed  shield
 |  cobra              30      10
 |  viper               0       0
 |  sidewinder          0       0
 |
 |  **Getting values on a DataFrame with an index that has integer labels**
 |
 |  Another example using integers for the index
 |
 |  >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 |  ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
 |  >>> df
 |     max_speed  shield
 |  7          1       2
 |  8          4       5
 |  9          7       8
 |
 |  Slice with integer labels for rows. As mentioned above, note that both
 |  the start and stop of the slice are included.
 |
 |  >>> df.loc[7:9]
 |     max_speed  shield
 |  7          1       2
 |  8          4       5
 |  9          7       8
 |
 |  **Getting values with a MultiIndex**
 |
 |  A number of examples using a DataFrame with a MultiIndex
 |
 |  >>> tuples = [
 |  ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
 |  ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
 |  ...    ('viper', 'mark ii'), ('viper', 'mark iii')
 |  ... ]
 |  >>> index = pd.MultiIndex.from_tuples(tuples)
 |  >>> values = [[12, 2], [0, 4], [10, 20],
 |  ...         [1, 4], [7, 1], [16, 36]]
 |  >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
 |  >>> df
 |                       max_speed  shield
 |  cobra      mark i           12       2
 |             mark ii           0       4
 |  sidewinder mark i           10      20
 |             mark ii           1       4
 |  viper      mark ii           7       1
 |             mark iii         16      36
 |
 |  Single label. Note this returns a DataFrame with a single index.
 |
 |  >>> df.loc['cobra']
 |           max_speed  shield
 |  mark i          12       2
 |  mark ii          0       4
 |
 |  Single index tuple. Note this returns a Series.
 |
 |  >>> df.loc[('cobra', 'mark ii')]
 |  max_speed    0
 |  shield       4
 |  Name: (cobra, mark ii), dtype: int64
 |
 |  Single label for row and column. Similar to passing in a tuple, this
 |  returns a Series.
 |
 |  >>> df.loc['cobra', 'mark i']
 |  max_speed    12
 |  shield        2
 |  Name: (cobra, mark i), dtype: int64
 |
 |  Single tuple. Note using ``[[]]`` returns a DataFrame.
 |
 |  >>> df.loc[[('cobra', 'mark ii')]]
 |                 max_speed  shield
 |  cobra mark ii          0       4
 |
 |  Single tuple for the index with a single label for the column
 |
 |  >>> df.loc[('cobra', 'mark i'), 'shield']
 |  2
 |
 |  Slice from index tuple to single label
 |
 |  >>> df.loc[('cobra', 'mark i'):'viper']
 |                       max_speed  shield
 |  cobra      mark i           12       2
 |             mark ii           0       4
 |  sidewinder mark i           10      20
 |             mark ii           1       4
 |  viper      mark ii           7       1
 |             mark iii         16      36
 |
 |  Slice from index tuple to index tuple
 |
 |  >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
 |                      max_speed  shield
 |  cobra      mark i          12       2
 |             mark ii          0       4
 |  sidewinder mark i          10      20
 |             mark ii          1       4
 |  viper      mark ii          7       1
 |
 |  Method resolution order:
 |      _LocIndexer
 |      _LocationIndexer
 |      _NDFrameIndexer
 |      pandas._libs.indexing._NDFrameIndexerBase
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __iter__(self)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

In [10]:
# mean() to find the average of 2011 column
# to find the average of 2nd row
print(df['2011'].mean())
print(df.iloc[2,2:].mean().mean())

48662.2
48967.88888888889

In [12]:
# median()
# to find the median of 2011 column
# to find the median of 2nd row
print(df['2011'].median())
print(df.iloc[2,2:].mean().mean())

48621.0
48967.88888888889

In [14]:
df1=pd.read_csv("income.csv",index_col="State")
df1

,GEOID,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,
Alabama,04000US01,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,45245,46657,62993,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,51755,55319,55734,57014,56134,54283,53367,57020,57528

# 1.Combined Average Income of all states from 2005 to 2013

In [5]:
df.iloc[:,2:].mean().mean()# column wise average
df.iloc[:,2:].mean(1).mean()# row wise average

48876.04444444444

# 2.State with highest average income in the last three years

In [25]:
df1.loc[:,"2011":].mean(1).idxmax()

#df1["avg"]=df1.iloc[:,-3:].mean(1)# row wise average of last 3 yeears
 #df1[df1["avg"]==max(df1["avg"])]# boolean masking

'Alaska'

# 3.State with lowest average income from 2007 to 2010(inclusive)

In [26]:
df1.loc[:,"2007":"2010"].mean(1).idxmin()

'Arkansas'

# 4.Print the list of all states in the same line with average income less than California

In [66]:
s=df1.iloc[:,2:].mean(1)
s

State
Alabama       41623.500
Alaska        60633.500
Arizona       49433.250
Arkansas      39100.250
California    55799.875
dtype: float64

In [72]:
d=df1.iloc[-1,2:].mean()
d

55799.875

In [73]:
df1.iloc[:,2:].mean(1)<d

State
Alabama        True
Alaska        False
Arizona        True
Arkansas       True
California    False
dtype: bool

In [78]:
list(df1[df1.iloc[:,2:].mean(1)<d].index)

['Alabama', 'Arizona', 'Arkansas']

# 5.Print the names of states based on descending order of income in the year 2009

In [56]:
a=df1.iloc[:,6]
a

State
Alabama       40933
Alaska        57848
Arizona       46896
Arkansas      38587
California    54283
Name: 2010, dtype: int64

In [57]:
b=a.sort_values(ascending=False)
b

State
Alaska        57848
California    54283
Arizona       46896
Alabama       40933
Arkansas      38587
Name: 2010, dtype: int64

In [65]:
list(b.index)

['Alaska', 'California', 'Arizona', 'Alabama', 'Arkansas']

# 6.State with the lowest recorded income from 2005 to 2013'''

In [79]:
df1.loc[:,"2005":].idxmin()

2005    Arkansas
2006    Arkansas
2007    Arkansas
2008    Arkansas
2009    Arkansas
2010    Arkansas
2011    Arkansas
2012    Arkansas
2013    Arkansas
dtype: object