# print statement

In [3]:
output="welcome to apssdc MSTp program"
print(output)

welcome to apssdc MSTp program

# one print statement

In [4]:
output="""kvsw
college
ece"""
print(output)

kvsw
college
ece

# print the pi value and type that of pi

In [5]:
a=3.14
b="pi"
print(a,b)

3.14 pi

# power of 101

In [6]:
a=101
b=3
print(a**b)

1030301

# Average

In [7]:
a=23
b=46
print(a+b/2)

46.0

# conver a number into string

In [8]:
x=23
print(x)
type(x)

23

int

In [10]:
y=str(x)
y

'23'

# operations

In [11]:
x=123
y=659
print("addition",x+y)
print("substraction",x-y)
print("multiplication",x*y)
print("division",x/y)
print("flor division",x//y)

addition 782
substraction -536
multiplication 81057
division 0.18664643399089528
flor division 0

# print the values x,y,z

In [12]:
x=y=z="kvsw123"
print(x,y,z)

kvsw123 kvsw123 kvsw123

# Initialize the variables in a single line

In [13]:
x="python"
y=31.567
z=6+89j
print(x,y,z)

python 31.567 (6+89j)

# print the result

In [22]:
x=('"Python"')
y=('"Awesome"')
print(y,x)

"Awesome" "Python"