# Dayobjectives
## Markdown syntax
### Pythonbasics

title

**python**

*python*

***python***

* Python

>1 python

# python basics

# find the python

In [1]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

# print hello world

In [2]:
print("hello world")

hello world

In [13]:
print("kvsw uma")
print("kvsw" + "uma")
x="vbkmk"
y="ghnols"
print(x)

kvsw uma
kvswuma
vbkmk

## Data types in python
* int
* float
* strings
* complex
* list
* tuples
* set

In [45]:
A=50
print(A)

50

In [46]:
type(A)

int

In [47]:
c=50.55
print(c)

50.55

In [48]:
type(c)

float

In [49]:
D=[50]
print(D)

[50]

In [50]:
type(D)

list

In [51]:
F="uma"
print(F)

uma

In [22]:
type(F)

str

In [52]:
B=10+12j
print(B)

(10+12j)

In [53]:
type(B)

complex

In [55]:
s=str(B)
s

'(10+12j)'

In [58]:
E=float(A)
print(E)
type(E)

32.0

float

# Variable assigning
>1 different data types can assigned as different variables
>2 same data type can be assigned as different variables

In [57]:
A,B,C=32,"uma",34.5
print(A,B,C)
print(type(A))
print(type(B))
print(type(C))

32 uma 34.5
<class 'int'>
<class 'str'>
<class 'float'>

In [60]:
A=B=C="uma"
print(A,B,C)

uma uma uma

# arithematic and logic operations in python

In [71]:
A=50
B=45
print("addition",A+B)
print("subtaction",A-B)
print("multiplication",A*B)
print("power",A**B)
print("floor division",(A//B))

addition 95
subtaction 5
multiplication 2250
power 28421709430404007434844970703125000000000000000000000000000000000000000000000
 division 1

# Comments in python

In [72]:
'''kvsw
uma
ece
kutnool'''
college

NameError: name 'college' is not defined