# Tuples

* it is a collection of different datatypes and seperated by cama (,) and enclosed with paranthasis braces()

In [1]:
t=(1,2,3,34.5,"college")
t

(1, 2, 3, 34.5, 'college')

In [3]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [9]:
t.count(3)
t.count("college")

1

In [10]:
x=(1,2,3,2,"kvsw","hello")
x.count(2)

2

In [11]:
x.index("kvsw")

4

In [13]:
x[0]

1

In [14]:
x[-1]

'hello'

In [15]:
x[1:]

(2, 3, 2, 'kvsw', 'hello')

In [20]:
x[:-1]
x[:-2]

(1, 2, 3, 2)

In [17]:
x*2

(1, 2, 3, 2, 'kvsw', 'hello', 1, 2, 3, 2, 'kvsw', 'hello')

In [18]:
print(t+x)

(1, 2, 3, 34.5, 'college', 1, 2, 3, 2, 'kvsw', 'hello')

# set

* It is a collection of elements and seperated by cama(,)enclosed with braces{}.It doesnot have index the elements 
unordered

In [22]:
s={1,2,3,4,5,1,7}# it accept only integers in a perticular set
type(s)
s

{1, 2, 3, 4, 5, 7}

In [25]:
s={"kvsw","mstp","college","kvsw"}
type(s)
s

{'college', 'kvsw', 'mstp'}

In [26]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [29]:
s={2,3,4,5,6}
s.add(32)
s

{2, 3, 4, 5, 6, 32}

In [31]:
s.clear()
s

set()

In [34]:
s1={1,2,3,4,5,6}
s1

{1, 2, 3, 4, 5, 6}

In [35]:
setcopy=s1.copy()
print(setcopy)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [36]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [40]:
a={1,2,4,5,6}      # the common variable is not print
b={7,8,9,3,4}
c=a.difference(b)
c1=b.difference(a)
print(c)
print(c1)

{1, 2, 5, 6}
{8, 9, 3, 7}

In [42]:
print(a.isdisjoint(b)) # in the a,b are having the same values then it print true otherwise false
print(b.isdisjoint(a))

False
False

In [43]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [44]:
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
print(a.intersection(b))

{4}

In [47]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [48]:

print(a.issubset(b))

False

In [49]:
help(set.issuperset)

Help on method_descriptor:

issuperset(...)
    Report whether this set contains another set.

In [50]:
print(a.issuperset(b))

False

* element accesing in set

In [53]:
a={1,2,3,4}
for kvsw in a:
    print(kvsw,end=" ")

1 2 3 4

In [54]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [57]:
a.update(b)
a

{1, 2, 3, 4, 7, 8, 9}

In [59]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [60]:
new=a.symmetric_difference(b)
new

{1, 2}

In [62]:
print(a)
print(b)
print(new)

{1, 2, 3, 4, 7, 8, 9}
{3, 4, 7, 8, 9}
{1, 2}

In [64]:
a.pop()
a

{3, 4, 7, 8, 9}

In [66]:
b.pop()
b

{7, 8, 9}

In [67]:
b.remove(9)
b

{7, 8}

In [69]:
a.discard(3)
a

{4, 7, 8, 9}

In [72]:
l=[9,8,9,7,8,6,7,8,3,4,5]
print(type(l),l)
x=set(l)
print(type(x),x)

<class 'list'> [9, 8, 9, 7, 8, 6, 7, 8, 3, 4, 5]
<class 'set'> {3, 4, 5, 6, 7, 8, 9}

In [87]:
l=list(set(map(int,input().split())))
print(l)

1 2 3 2 1
[1, 2, 3]